<h2>I am Chatroom</h2>
<div class="chatroom--section">
  <% @chatrooms.each do |chatroom| %>
    <%= link_to chatroom_path(chatroom) do %>
    <ul>
      <li>
        <h3><%= chatroom.activity.name %></h3>
        <p><%= chatroom.activity.address %></p>
      </li>
    </ul>
    <% end %>
<% end %>
</div>
