<footer class="text-center" style="background-color: #F4F4F4;">
  <!-- Grid container -->
  <div class="container pt-4 mb-4">
    <!-- Section: Social media -->
    <h5 style="mb-0">Follow us on social media</h5>
    <div class="mb-0 mt-0">
      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark"
        href="#!"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark"
        href="#!"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark"
        href="#!"
        role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark"
        href="#!"
        role="button"
        ><i class="fab fa-linkedin"></i
      ></a>
    </div>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color:#F4F4F4;">
    © 2023 Copyright:
    <a class="text-dark" href="/">SeniorenAllTagPlus</a>
  </div>
  <!-- Copyright -->
</footer>
