<div class="mobile-nav">
  <div class="item">
    <div class="home-icon">
      <%=  link_to activities_path do %>
          <i class="fa-solid fa-house" style="color: #1f5120;"></i>
          <p class="icon-text1" style="color: #1f5120;">Home</p>
        <% end %>
    </div>
          <div class="messages-icon">
            <%= link_to chatrooms_path do %>
              <i class="fa-solid fa-message" style="color: #1f5120;"></i>
              <p class="icon-text2" style="color: #1f5120;">Messages</p>
            <% end %>
          </div>

          <div class="create-activity-icon">
            <%= link_to new_activity_path do %>
            <i class="fa-solid fa-square-plus" style="color: #1f5120"></i>
            <p class="icon-text3" style="color: #1f5120;" >Create</p>
            <% end %>
          </div>

        <div class="my-activity-icon">
          <%= link_to dashboard_path do  %>
          <i class="fa-solid fa-calendar-days" style="color: #1f5120;"></i>
          <p class="icon-text4" style="color: #1f5120;">My Activity</p>
        <% end %>
        </div>

  </div>
</div>
