# Mobile Navbar
<div class="mobile-nav">
  <div class="item">
    <%=  link_to activities_path do %>
          <i class="fa-solid fa-house" style="color: #1f5120;"></i>
        <% end %>
          <%= link_to chatrooms_path do %>
              <i class="fa-solid fa-message" style="color: #1f5120;"></i>
          <% end %>

        <%= link_to dashboard_path do  %>
          <i class="fa-solid fa-calendar-days" style="color: #1f5120;"></i>
        <% end %>
      <%= link_to  edit_user_registration_path do  %>
    <i class="fa-solid fa-user" style="color: #1f5120;"></i>
    <% end %>
  </div>
</div>
