<div class="container">
    <!-- Activity Image (We can incorporate Carousel again) -->
    <div class="row">
        <div class="col-12 mt-3">
            <%= image_tag "bar.webp", alt: "Bar image", class: "img-fluid" %>
        </div>
    </div>

    <!-- Description -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <!-- Activity Description -->
                    <div class="description-container">
                        <h5 class="card-title my-3">New in Berlin - Internationals</h5>
                        <p class="card-text mb-3">
                            Hey Internationals in Berlin,

                            Everybody is welcome to join the event, to meet friends or like-minded people. The place is a perfect place to mingle, relax, and enjoy.

                            What better way to end a Thursday than having a good time and meeting people from all over the world.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Map -->
    <div class="row">
        <div class="col-12">
            <!-- Add the map API here (Mapbox / Google Maps). For now there is an image of a map -->
              <%= image_tag "staticmapforbar", alt: "Bar image", class: "img-fluid mt-3" %>
            <div id="map" style="height: 300px;"></div>
        </div>
    </div>

    <!-- Message Box -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Message Center</h5>
                    <div class="message-box-container">
                        <form>
                            <div class="form-group">
                                <textarea class="form-control" rows="3" placeholder="Type your message..."></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
