
.h1-dashboard {
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
}

.btn--delete {
  color:black;
  border: solid 1px red;
  border-radius: 10px;

}

.btn--edit {
  color: black;
  border: solid 1px #b9f2df;
  background-color: #b9f2df;
  border-radius: 10px;
}
