.custom--card {
  background-color: #fbfbfbeb;
  // color: #000000;
  font-family: 'Roboto', sans-serif;
  // font-size: 1.3rem;
  // padding: 1rem;
  margin: 1rem;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin-left: 0;
    margin-right: 0;
    }
}
