.custom--card {
  box-shadow: inset 0 0 2px black;
  border-radius: 10px;
  background-color: #fbfbfbeb;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
    img {
      width: 100%;
      border-radius: 10px;
      box-shadow: 0 0 5px #000000;

    }
}
