
.accordions--categories {
  padding: 0px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 0px;
  background-color: #f1f1f1;
  width: 100%;
   .accordions {
      border: 2px solid #ddd;
      width: 100%;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
      padding: 10px;
      border-radius: 5px;
      margin-top: 5px;
      background-color: #ffffff;
      text-align: left;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1px;
    }
}

.accordions--categories button {
  font-size: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #6c757d;
  color: white;
  letter-spacing: 1px;
}
