.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.custom--card {
  border: 2px solid grey;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
.custom--card {
  border: 2px solid grey;
  img {
    width: 100%;
  }
}
