.description-container,
.message-box-container {
    width: 100%;
}

.carousel-item .carousel-image {
  height: 250px; /* Adjust the height as needed */
  width: 100%;
  object-fit: cover;
  margin-left: 0;
  margin-right: 0;
}

.carousel-image {
  overflow: hidden;
}

  .owner-info {
    display: flex;
    align-items: center;
  }

  .owner-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Creates rounded corners */
    cursor: pointer;
  }

  .owner-name {
    display: none;
  }

  .owner-info:hover .owner-name {
    display: block;
  }

  .participants-info {
    display: flex; /* Display participants in a row */
    align-items: center; /* Align participants vertically in the middle */
  }

  .participant-container {
    margin-right: 10px; /* Adjust the spacing between participants */
  }

  .participant-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }

  .participant-name {
    display: none;
  }

  .participant-image:hover + .participant-name {
    display: inline; /* Show the name when hovering over the image */
  }

  .activity-card {
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 2px;
  }

  .card-img-top {
    height: 200px; /* Adjust the height as needed */
    width: 100%;
    object-fit: cover;
    margin-left: 0;
    margin-right: 0;
  }

  .join-button {
    border-radius: 5px;
    font-size: 20px;
  }

  .join-button:hover {
    color: #ffffff;
  }

  .activity-card {
    padding: 5px;
    margin-bottom: 2px;
  }
