.description-container,
.message-box-container {
    width: 100%;
}

.carousel-item .carousel-image {
  height: 450px; /* Adjust the height as needed */
  width: 100%;
  object-fit: cover;
}

.carousel-image {
  overflow: hidden;
}
