.description-container {
  width: 100%;
  background-color: white;
}

.activity-details {
  background-color: #ffffff;
  // font-family: 'Roboto', sans-serif;
  text-align: left;
  margin: 0;
  border: 1px solid #ccc;
}

.message-box-container {
  width: 100%;
}

.carousel-item .carousel-image {
  height: 250px; /* Adjust the height as needed */
  width: 100%;
  object-fit: cover;
  margin: 0;
}

.carousel-image {
  overflow: hidden;
}

.owner-info {
  display: flex;
  align-items: center;
}

.owner-info strong {
  margin-right: 5px;
}

.owner-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Creates rounded corners */
  cursor: pointer;
}

.owner-name {
  display: none;
}

.owner-info:hover .owner-name {
  display: block;
}

.participants-info {
  display: flex; /* Display participants in a row */
  align-items: center; /* Align participants vertically in the middle */
}

.participants-info strong {
  margin-right: 5px;
}

.participant-container {
  margin-right: 2px; /* Adjust the spacing between participants */
}

.participant-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.participant-name {
  display: none;
}

.participant-image:hover + .participant-name {
  display: inline; /* Show the name when hovering over the image */
}

.activity-card {
  border: 1px solid #ccc;
  background-color: white;
  padding: 0px;
  margin: 0;

  img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    margin: 0;
    }
}

.card-img-top {
  height: 200px; /* Adjust the height as needed */
  width: 100%;
  object-fit: cover;
  margin: 0;
  min-width: 80px;
}

.link-btn {
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 20px;
  text-align: center;
  max-width: 100px;
  margin-right: 5px;

.link-btn:hover {
    color: #ffffff;
  }
}

.btn-container {
  justify-content: flex-end;
  margin-right: 10px;
}

.status-text {
  font-weight: 600;
  color: #515151;
}

.waiting {
  color: #f0ad4e;
}

.decline {
  color: #d9534f;
}

.accept {
  color: #5cb85c;
}

.full{
  color: #d9534f;
}

.difficulty-container {
  display: flex;
  align-items: center;
}

.difficulty-label {
  margin-right: 5px;
}

.circle-icon {
  margin-left: 5px;
}

.fa-circle {
  font-size: 17px;
}
